body{
    background-color:antiquewhite;
}
header nav {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    font-size: 1.5em;
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.cookieDescription {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}