{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}



    
    <ul class="back">
        <li><a href="#">Voir mon planning</a></li>
        <li><a href="{{ path('information_user') }}">Mes information</a></li>
    </ul>

{% endblock %}