<form method="post" action="{{ path('app_boutique_delete', {'id': boutique.id}) }}" onsubmit="return confirm('Ête vous sur de vouloir supprimer cette boutique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boutique.id) }}">
    <button class="btn">Supprimer la boutique</button>
</form>
