{% extends 'base.html.twig' %}

{% block title %}Editer Boutique{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Editer la Boutique</h1>

    {{ include('boutique/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
<div class="text-center mt-4">
    <a href="{{ path('app_boutique_index') }}">Retour</a>

    {{ include('boutique/_delete_form.html.twig') }}
</div>
{% endblock %}
