{% extends 'base.html.twig' %}

{% block title %}Nouvelle Boutique{% endblock %}

{% block body %}

    <h1 class="text-center">Création de la nouvelle boutique</h1>

    {{ include('boutique/_form.html.twig') }}
<div class="text-center mt-3">
    <a href="{{ path('app_boutique_index') }}">Retour</a>
</div>
{% endblock %}
