<form method="post" action="{{ path('app_vacance_delete', {'id': vacance.id}) }}" onsubmit="return confirm('Ête vous sur de vouloir supprimer la demande de vacance ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vacance.id) }}">
    <button class="btn">Supprimer</button>
</form>

